<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <div style="background-color:#7bb386;" class="d-flex flex-column flex-md-row align-items-center pb-10 mb-3">

        <img src="https://cdn.dribbble.com/users/1587991/screenshots/11620755/media/1b33d86bc3415e31eb4cac2713782b66.png" width="75px">

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">Home</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/register">Create Account</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/sign_in">Sign in</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/new_test">New Test</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">About</a>
        </nav>

    </div>
</div>

