<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-10 mb-3 border-bottom">
    <h5 class="my-0 mr-md-auto font-weight-normal">Home Page</h5>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">Home</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">Create Account</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">My Account</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">About</a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/">FAQ</a>
    </nav>
    </div>
</div>