<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <div style="background-color:#7bb386;"class="d-flex flex-column align-items-center flex-md-row pb-10">

        <img class="logo"  src="https://cdn.dribbble.com/users/1587991/screenshots/11620755/media/1b33d86bc3415e31eb4cac2713782b66.png" width="75px">

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-4 py-4 text-dark text-decoration-none" href="/"><b>Home</b></a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/register"><b>Create Account</b></a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/sign_in"><b>Sign in</b></a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/new_test"><b>New Test</b></a>
        <a class="me-4 py-4 text-dark text-decoration-none" href="/"><b>About</b></a>
        </nav>
    </div>
</div>

