<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<form action="C:\Users\marian.neaga\IdeaProjects\ProiectFinal\ProiectFinal\src\main\java\com\Proiect\ProiectFinal\CreateAccount\UserDetails.java"></form>
<form action="servlet/Register" method="post">

    First Name: <input type="text" name="userFirstName"><br><br>
    Last Name: <input type="text" name="userLastName"><br><br>
    User Name: <input type="text" name="userName"/><br/><br/>
    Password: <input type="password" name="userPassword"/><br/><br/>
    Confirm Password: <input type="password" name="userPasswordConfirmation"><br><br>
    Email Address: <input type="text" name="userEmail"/><br/><br/>
    Country:
    <select name="userCountry">
        <option disabled selected>-----</option>
        <option>Romania</option>
        <option>France</option>
        <option>Germany</option>
    </select>
    <br/><br/>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset Form" >

</form>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>