<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main style="background-color:#FAFAD2;">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Welcome to Eco Energy !</h1><br>
                <p><img src="https://cdn.dribbble.com/users/1587991/screenshots/11620755/media/1b33d86bc3415e31eb4cac2713782b66.png" width="300px"><br>
                <p class="lead text-muted">Ready for new test ?</p>
                <p>
                    <a href="/new_test" class="btn btn-success">New Test</a>
                </p>
            </div>
        </div>
    </section>

</main>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>